<h1>Add a movie</h1>
{{!-- enctype has to added --}}
<form action="/movie/add" method="POST">
	<label for="title">Title: </label>
	<input type="text" name="title" id="title">

	<label for="description">Description: </label>
	<input type="text" name="description" id="description">

	<button type="submit">Add this movie</button>
</form>